.online{
  color:rgb(0,255,0);
  font-size: 50px;
  font-style: italic;
  font-family: sans-serif;

}
.offline{
  color:rgb(255,0,0);
  font-size: 25px;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}
